.click-enter {
  /* background-color: green; */
}

.click-enter-active {
  border-radius: 50%;
  background-color: red;
  animation: rolling 1s;
}

@keyframes rolling {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .click-exit {
  background-color: red;
}

.click-exit-active {
  background-color: green;
} */
